In [149]:
age = 36
txt = "My name is John, I am " + age
print(txt) #ERROR

TypeError: can only concatenate str (not "int") to str

In [151]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [153]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [155]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [157]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars